<form action="/create" method="post">
  <input type="text" name="name">
  <input type="text" name="body">
  <input type="submit" value="create note">
  <input type="reset" value="reset note fields">
</form>
